/* ********* DON'T TOUCH THIS ********** */
#content{
    display: flex;
    flex-direction: column;
    aspect-ratio: 7 / 10;
    /* max-width: 80%; */
    align-items: center;
    justify-content: center;
    gap: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* *************************************** */

#company-title {
    font-size: 28pt;
}

#company-logo {
    width: 200px;
}

/* Draw emotion captcha */
/* Draw Circle captcha */
#circleTaskPrompt, #drawEmotionPrompt {
    font-size: 24pt;
    margin-top: 20%;
}

#drawEmotionCanvas {
    aspect-ratio: 1 / 1 !important;
}

#drawEmotionSubmitButton {}

#drawCircleCanvas {
    aspect-ratio: 1 / 1 !important;
}

#drawCircleSubmitButton {}

#lovePerson {
    width: 640px;  
}

#loveTitle {
    font-size:xx-large;
}
